# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\JPTVR19\JPTVR19WebLibrary\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
